
@{
    ViewBag.Title = "ProductsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Danh mục sản phẩm</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">iPhone</a>
                    <a href="#" class="list-group-item list-group-item-action">iPad</a>
                    <a href="#" class="list-group-item list-group-item-action">Macbook</a>
                    <a href="#" class="list-group-item list-group-item-action">Watch</a>
                </div>
            </div>
            <div class="col-md-2">
                <h2>Danh mục sản phẩm</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">iPhone</a>
                    <a href="#" class="list-group-item list-group-item-action">iPad</a>
                    <a href="#" class="list-group-item list-group-item-action">Macbook</a>
                    <a href="#" class="list-group-item list-group-item-action">Watch</a>
                </div>
            </div>
        </div>
    </div>
</body>

